@import './tailwind.css';
@import './base.css';
@import 'material-icons/iconfont/material-icons.css';

.login .logo {
  filter: invert(1) hue-rotate(180deg);
  transition: filter 0.3s ease;
}

.dark .login .logo {
  filter: none;
}