@import "tailwindcss";

/* @theme {
    --color-primary: #009688;
    --color-darkprimary: #00796b;
    --color-on-primary: #333;
    --color-on-darkprimary: #333;
    --color-accent: #ff5252;
    --color-darkaccent: #ff1744;
    --color-on-accent: #333;
    --color-on-darkaccent: #333;
    --color-main: var(--color-gray-100);
    --color-darkmain: var(--color-gray-800);
    --color-on-main: var(--color-gray-800);
    --color-on-darkmain: var(--color-gray-100);
    --color-surface: var(--color-gray-200);
    --color-darksurface: var(--color-gray-700);
    --color-on-surface: var(--color-gray-800);
    --color-on-darksurface: var(--color-gray-100);
    --spacing: 0.25rem;
  } */

  /* colors: {
    // Colores principales
    main: {
      DEFAULT: '#ffffff',       // Fondo claro principal
      dark: '#1f2937',        // Fondo oscuro (gray-800)
    },
    surface: {
      DEFAULT: '#f3f4f6',       // gray-200 (body)
      dark: '#111827',        // gray-900
    },
    onMain: {
      DEFAULT: '#111827',       // Texto oscuro (gray-900)
      dark: '#f9fafb',        // Texto claro (gray-100)
    },
    primary: {
      DEFAULT: '#2563eb',     // blue-600
      hover: '#1d4ed8',       // blue-700
    },
    warn: {
      DEFAULT: '#dc2626',     // red-600
      hover: '#b91c1c',       // red-700
    },
    success: {
      DEFAULT: '#16a34a',     // green-600
      hover: '#15803d',       // green-700
    },
    info: {
      DEFAULT: '#3b82f6',     // blue-500
      hover: '#2563eb',       // blue-600
    },
    accent: {
      DEFAULT: '#fbbf24',     // yellow-400
      hover: '#f59e0b',       // yellow-500
    },
    border: {
      DEFAULT: '#d1d5db',       // gray-300
      dark: '#4b5563',        // gray-600
    },
    muted: {
      DEFAULT: '#6b7280',       // gray-600 (para texto apagado)
      dark: '#d1d5db',        // gray-300
    },
    overlay: { // Fondo translúcido para overlays
      DEFAULT: 'rgba(255, 255, 255, 0.5)', // Fondo oscuro translúcido
      dark: 'rgba(31, 41, 55, 0.5)',     // Fondo claro translúcido
    },
  }, */