<div class="not-found p-6 rounded-2xl text-center
shadow-lg h-full content-center dark:text-white transition-all duration-300
bg-[url('assets/img/quantum-error.png')] bg-cover bg-center relative">
    <div class="overlay h-full w-full z-1"></div>
    <div class="content relative z-2">
        <h2 class="text-3xl font-semibold mb-4">¡Ups! Algo salió mal...</h2>
        <p class="text-lg mb-6">La página que estás buscando parece estar fuera del alcance de nuestro universo.<br>
            Tal vez está viajando por un agujero negro, o simplemente nunca existió.</p>
        <p class="italic text-gray-500 mb-3">¿Será una ilusión cuántica? ¿O un error cósmico? Lo sabremos pronto...</p>
        <button type="button"
            class="btn btn-home p-2 bg-red-600 text-white py-2 rounded-lg hover:bg-red-700 transition-colors duration-200">
            Volver al inicio
        </button>
    </div>
</div>