<div class="max-w-6xl mx-auto p-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <div id="scanFromCamera" class="bg-white dark:bg-gray-800 p-6 rounded-2xl shadow hover:shadow-xl cursor-pointer transition-all duration-300 text-center
    hover:bg-gray-100 dark:hover:bg-gray-700">
    <h3 class="text-xl font-semibold mb-2">Escanear desde cámara</h3>
    <p class="text-sm text-gray-600 dark:text-gray-400">Usa la cámara para escanear CFDIs</p>
  </div>

  <div id="scanFromImage" class="bg-white dark:bg-gray-800 p-6 rounded-2xl shadow hover:shadow-xl cursor-pointer transition-all duration-300 text-center
    hover:bg-gray-100 dark:hover:bg-gray-700">
    <h3 class="text-xl font-semibold mb-2">Cargar imagen(es)</h3>
    <p class="text-sm text-gray-600 dark:text-gray-400">Sube imágenes para validar</p>
  </div>

  <div id="scanFromPdf" class="bg-white dark:bg-gray-800 p-6 rounded-2xl shadow hover:shadow-xl cursor-pointer transition-all duration-300 text-center
    hover:bg-gray-100 dark:hover:bg-gray-700">
    <h3 class="text-xl font-semibold mb-2">Cargar PDF(s)</h3>
    <p class="text-sm text-gray-600 dark:text-gray-400">Sube archivos PDF de facturas</p>
  </div>

  <div id="scanFromXml"  class="bg-white dark:bg-gray-800 p-6 rounded-2xl shadow hover:shadow-xl cursor-pointer transition-all duration-300 text-center
    hover:bg-gray-100 dark:hover:bg-gray-700">
    <h3 class="text-xl font-semibold mb-2">Cargar XML(s)</h3>
    <p class="text-sm text-gray-600 dark:text-gray-400">Importa archivos XML de CFDI</p>
  </div>

  <div id="reportesBtn"  class="hidden bg-white dark:bg-gray-800 p-6 rounded-2xl shadow hover:shadow-xl cursor-pointer transition-all duration-300 text-center
    hover:bg-gray-100 dark:hover:bg-gray-700">
    <h3 class="text-xl font-semibold mb-2">Generar reportes</h3>
    <p class="text-sm text-gray-600 dark:text-gray-400">Resumen y estadísticas de uso</p>
  </div>

  <div id="historialBtn"  class="bg-white dark:bg-gray-800 p-6 rounded-2xl shadow hover:shadow-xl cursor-pointer transition-all duration-300 text-center
    hover:bg-gray-100 dark:hover:bg-gray-700">
    <h3 class="text-xl font-semibold mb-2">Histórico / Reportes</h3>
    <p class="text-sm text-gray-600 dark:text-gray-400">Consulta el historial de validaciones y generar reportes CSV</p>
  </div>
</div>