<div
    class="offline h-full p-6 rounded-2xl text-center content-center shadow-lg bg-white dark:bg-gray-800 dark:text-white transition-all duration-300">
    <div class="header">
        <img src="assets/img/self-repair.png" alt="Logo" class="logo mx-auto mb-3 w-48">
    </div>
    <h2 class="text-2xl font-semibold mb-4">Sin conexión</h2>
    <p class="mb-4">Error al conectar con el servidor. Por favor, verifica tu conexión a Internet o intenta de nuevo en 30 segundos.</p>
    </p>

    <button type="button"
        class="btn px-4 bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition-colors duration-200"
        id="retryButton">
        Reintentar
    </button>
</div>